.section {
  flex-direction: row;
  display: flex;
  margin: 150px 0;
}

.section__text {
  text-align: right;
  align-self: center;
}

.section__text,
.section__terminal {
  width: 49%;
  flex-wrap: wrap;
  margin: 0 2%;
}

.section__text--right {
  order: 1;
  text-align: left;
}

.section__title {
  margin-bottom: 10px;
  order: 0;
}